.idea/
.vs/
.vscode/
out/
cmake-build-debug/
cmake-build-release/
cmake-build-local/
output/
dist/
.DS_Store
__pycache__/
lib_location.txt
version_number.txt
dearpygui.egg-info/
dearcygui.egg-info/
build/
build_FT/
build_SDL/

# Generated Cython files
dearcygui/*.cpp
dearcygui/utils/*.cpp

# Bundled fonts
dearcygui/*.otf
# Ignore only subdirectories
sandbox/*/
src/CMakeFiles/
thirdparty/CMakeFiles/
thirdparty/Makefile
thirdparty/cmake_install.cmake
